/** Fontes */
@import url('https://fonts.googleapis.com/css2?family=Jost:wght@300;400&family=Source+Sans+Pro:wght@300;400&display=swap');

/** Configurações gerais */
body {
    margin: 0;
    padding: 0;
    background-color: #000;
}
ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#corpo-home {
    max-width: 1470px;
    margin: 0 auto;
    height: 100vh;
}

a {
    text-decoration: none;
}



/** Header */
#bg-header{
    background-image: url('../images/PlanoDeFundoHeader.jpg') ;
    background-size: cover;
    background-position: center;

}
header {
    height: 100vh;
    background-image:linear-gradient(to bottom, transparent, transparent,transparent,transparent, rgba(0,0,0,0.9));
}

nav ul {
    display: flex;
    padding-top: 10px;
    justify-content: space-between;
}

li {
    padding: 15px 25px;
    font-family: 'Source Sans Pro', sans-serif;
    color: #fff;
}

nav ul li a {
    padding: 15px 25px;
    color: #fff;
    font-size: 1.2rem;

}
.nav-contato {
    border: 4px solid #fff;
    border-radius: 6px;
}

.logo {
    flex: 2;
    font-family: 'Jost', sans-serif;
    color: #fff;
    font-size: 1.5rem;
}
#titulo {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#titulo h1 {
    font-family: 'Jost', sans-serif;
    color: #fff;
    justify-content: center;
    font-size: 7rem;
    text-shadow: 0 5px 4px rgba(0, 0, 0, 0.15);
}



/** Sobre */
#sobre {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #000;
    color: #fff;
    font-family: 'Source Sans Pro', sans-serif;
    padding: 25px 0;
    padding-bottom: 130px;
}

#sobre h2 {
    font-size:  3rem;
    padding: 0;
    margin: 0;
}

#sobre p {
    font-size: 1.2rem;
    max-width: 500px;
    text-align: center;
}



/** Projetos */
#titulo-projetos {
    background-color: #FFF;
    display: flex;
    justify-content: center;
    align-items: center;
}

#titulo-projetos h3 {
    margin: 0;
    padding: 60px 0 20px 0;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 3rem;
}

#projetos {
    padding: 220px 0;
}

#corpo-projeto {
    max-width: 1470px;
    margin: 0 auto;
}

#bg-projetos {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5) 100%,rgba(0, 0, 0, 0.5) 100%), url('../images/PlanoDeFundoProjeto.jpg') repeat 0 0;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

#betocarrero {
    display: flex;
    flex-direction: row-reverse;
    max-height: 500px;
    align-items: center;
}

#betocarrero img {
    max-width: 800px;
    border-radius: 6px;
    box-shadow: 0 10px 30px #000;
}

#betocarrero .texto {
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: baseline;
    height: 100%;
    font-family: 'Source Sans Pro', sans-serif;
    color: #fff;
    padding-left: 60px;
}

#betocarrero h4 {
    font-size: 3rem;
    margin: 0;
    padding: 0;
    margin-bottom: 35px;
    text-align: left;
}

#betocarrero p {
    font-size: 1.5rem;
    margin: 0;
    padding: 0;
}

#pepsico {
    display: flex;
    flex-direction: row;
    max-height: 500px;
    align-items: center;
    margin-top: 150px;
}

#pepsico img {
    max-width: 800px;
    border-radius: 6px;
    box-shadow: 0 10px 30px #000;
}

#pepsico .texto {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: flex-end;
    height: 100%;
    font-family: 'Source Sans Pro', sans-serif;
    color: #fff;
    padding-right: 60px;
}

#pepsico h4 {
    font-size: 3rem;
    margin: 0;
    padding: 0;
    margin-bottom: 35px;
}

#pepsico p {
    font-size: 1.5rem;
    margin: 0;
    padding: 0;
    text-align: right;
}

#toddy {
    display: flex;
    flex-direction: row-reverse;
    max-height: 500px;
    align-items: center;
    margin-top: 150px;
}

#toddy img {
    max-width: 800px;
    border-radius: 6px;
    box-shadow: 0 10px 30px #000;
}

#toddy .texto {
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: start;
    height: 100%;
    font-family: 'Source Sans Pro', sans-serif;
    color: #fff;
    padding-left: 60px;
}

#toddy h4 {
    font-size: 3rem;
    margin: 0;
    padding: 0;
    margin-bottom: 35px;
}

#toddy p {
    font-size: 1.5rem;
    margin: 0;
    padding: 0;
    text-align: left;
}



/** SEPARADOR CONTATO */
#titulo-contato {
    background-color: #FFF;
    display: flex;
    justify-content: center;
    align-items: center;
}

#titulo-contato h3 {
    padding: 0;
    margin: 0;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 3rem;
}



/** CONTATO */

#corpo-contato {
    max-width: 1200px;
    margin: 0 auto;
}

#bg-contato {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5) 100%,rgba(0, 0, 0, 0.5) 100%), url('../images/PlanoDeFundoContato.jpg') repeat 0 0;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

#contato {
    padding: 220px 0;
    padding-bottom: 120px;
    display: flex;
    justify-content: space-evenly;
}


/*TODO: CONFIGURAÇÕES GERAIS DOS CARDS */

.card-email, .card-telefone, .card-endereco {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1.2rem;
    width: 300px;
    background-color: #fff;
    height: 200px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    border-radius: 6px;
    position: relative;
    box-shadow: 0 7px 20px rgba(0, 0, 0, 0.514);
}

.card-email p, .card-telefone p, .card-endereco p {
    padding: 0;
    margin: 0;
}

.card-endereco .circulo, .card-email .circulo, .card-telefone .circulo {
    position: absolute;
    top: -35px;
    left: 41%;
    right: 41%;
    height: 60px;
    width: 60px;
    background-color: #214d6b;
    color: #fff;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.3);
}

.card-endereco h4, .card-email h4, .card-telefone h4 {
    font-size: 1.5rem;
    text-align: center;
    padding: 0;
    margin: 0;
    margin-bottom: 25px;
    color: #000;

}

/**? CARD LOCALIZAÇÃO ************/

.card-endereco h4::after {
    content: '';
    display: block;
    height: 3px;
    width: 180px;
    border-bottom: 4px solid #214d6b;
}

/**? CARD EMAIL *****************/

.card-email h4::after {
    content: '';
    display: block;
    height: 3px;
    width: 100px;
    border-bottom: 4px solid #214d6b;

}

/**? CARD TELEFONE **************/

.card-telefone h4::after {
    content: '';
    display: block;
    height: 3px;
    width: 130px;
    border-bottom: 4px solid #214d6b;

}

/** REDES SOCIAIS */
#redes-sociais {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 2.5rem;
    max-width: 400px;
    margin: 0 auto;
    color: #fff;
    padding-bottom: 70px;
}

#redes-sociais a {
    text-decoration: none;
    color: #fff;
}

#redes-sociais a {
    width: 60px;
    height: 60px;
    background-color: rgb(15, 15, 15);
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.07);
}

#linkedin {
    font-size: 1.9rem;
}

#facebook {
    font-size: 2rem;
}

#github {
    font-size: 2.4rem;
}



/** RODAPE */
footer {
    background-color: #000;
    height: 70px;
    color: #fff;
    font-family: 'Source Sans Pro', sans-serif;
    opacity: .8;
    display: flex;
    justify-content: center;
    align-items: center;
}
